.addNoteForm {
    width: 500px;
    border-radius: 10px;
    border: thin hsla(0, 0%, 83.9%, .8) solid;

    @media screen and (max-width: 520px) {
        width: max(300px, 100%);
    }
}



.inputs-container {
    overflow: hidden;
    border-radius: inherit;
}

.addNoteForm input[type='text'], .addNoteForm textarea {
    width: 100%;
    padding: 12px 16px;
    border: none;
    background-color: inherit;
}

.addNoteForm textarea {
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

.title-input {
    font-weight: bold;
}

.btns-block {
    display: flex;
    justify-content: space-between;
    padding: 7px 12px;
    gap: 10px;
    align-items: center;
}

.add-note-right-btns {
    display: flex;
    gap: 10px; 
    align-items: center;   
}

.add-note-btn {
    background: none;
    border: none;
    font-size: 16px;
}

.add-note-btn:hover {
    cursor: pointer;
}